main{
    min-height: 100vh;
    margin: 0;
    
}

.book-gallery-container{
  
    
    position: relative;
    width: 100%;
    box-sizing: border-box;
    padding: 15px;
}

/* .book-gallery-container button{
  

} */

.books-description{
    
    padding: 100px;
    text-align: center;
    font-family: 'Fuzzy Bubbles';
    margin-top: 100px;
    text-align: left;
    
}

.books-description h1{
    color: var(--brand-color-primary);
    font-weight: bolder;
    margin-bottom: 20px;
}

#next{
    background-color: var(--brand-color-primary);
    border-radius: 20px;
    border: none;
    padding: 8px 15px;
    color: var(--brand-color-pale);
    font-family: 'Raleway';
    outline: none;

}



.book-gallery-container  button.active{
    background-color: var(--brand-color-primary) !important;
    color: var(--brand-color-pale) !important;
    border: none !important;
    
}

.book-gallery-container  button:focus{
   outline: none;
    
}






#filter-buttons{
    display:flex;
    align-items: center;
    gap: 25px;
    flex-wrap: wrap;
    justify-content: center;
    
}

#filter-buttons button{
    width: 30%;
    max-width: 140px;
    height: 40px;
    border-radius: 20px;
    background-color: white;
    color: var(--brand-color-primary);
    font-weight: 600;
    border: 3px solid var(--brand-color-pale2);
}


.book-gallery{
    margin-top: 25px;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    
    justify-content: space-evenly;
}

.book{
    margin: 15px;
   
    /* width: calc(100%/4); */
    flex-basis: calc(100%/4);
    padding: 3px;
    aspect-ratio: 2/3;
}

.book:hover{
    transform: scale(1.05);
     
}

.book img{
    width: 100%;
    aspect-ratio: 2/3;
    vertical-align: middle;
    transition: all 0.9s ease;  
}

.month  {
    background-color: var(--brand-color-pale2);
    margin: 10px 0px;
    padding: 8px;
    border-radius: 5px;
    text-align: center;
}

.book.hide{
    display:none;
}

.book.show{
    animation: animate 0.4s ease;
    display:block;
}
