main{
    min-height: 100vh;
    background-color: azure;
}

.book-gallery-container{
    
    position: relative;
    width: 100%;
    box-sizing: border-box;
    padding: 15px;
}

/* .book-gallery-container button{
  

} */

.books-description{
  
    padding: 30px;
    text-align: center;
}

.book-gallery-container  button.active{
    background-color: aqua;
}

#filter-buttons{
    display:flex;
    align-items: center;
    gap: 25px;
    flex-wrap: wrap;

    justify-content: center;
    
}

#filter-buttons button{
    width: 30%;
    height: 40px;
}


.book-gallery{
    margin-top: 25px;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    background-color: azure;
    justify-content: space-evenly;
}

.book{
    margin: 15px;
   
    /* width: calc(100%/4); */
    flex-basis: calc(100%/4);
    padding: 3px;
    aspect-ratio: 2/3;
}

.book:hover{
    transform: scale(1.05);
     
}

.book img{
    width: 100%;
    aspect-ratio: 2/3;
    vertical-align: middle;
    transition: all 0.9s ease;  
}

.month  {
    background-color: rgb(232, 206, 206);
    margin: 10px 0px;
    padding: 8px;
    border-radius: 5px;
    text-align: center;
}

.book.hide{
    display:none;
}

.book.show{
    animation: animate 0.4s ease;
    display:block;
}
